{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Spotify Playlists - Bryan's spotify playlists.</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static '/assets/feature-image.jpg' %}">
    <meta name="twitter:card" content="summary">
    </meta>
    <meta name="twitter:title" content="Bryan Wandera - A website designer and developer">
    </meta>
    <meta name="twitter:site" content="@BryanWandera1">
    </meta>
    <meta name="twitter:description" content="Bryan's spotify playlists">
    </meta>
    <meta name="twitter:image" content="{% static '/assets/feature-image.jpg' %}">
    </meta>

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static '/scripts/spotify-api.js' %}">

    </script>
    
</head>

<body style="background-color: black; text-align: center;">
    <h1 style="color: antiquewhite;">Hello</h1>


    <div id="playlists-root"></div>

     <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
     <script src="https://unpkg.com/react@16.4.1/umd/react.production.min.js"></script>
     <script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.production.min.js"></script>
    <!-- Load our React component. -->
    <!-- <script src="/scripts/playlists-components.js"></script> -->
</body>

</html>